<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <br>
  <ion-input placeholder="Enter Badge Count" label="Badge Count"
    type="number" [(ngModel)]="badgeCount"></ion-input>
  <ion-button expand="block" color="primary" 
    (click)="setBadge()">Set Badge Count</ion-button>
  <ion-button expand="block" color="primary" 
    (click)="clearBadge()">Mark Everything Unread</ion-button>

</ion-content>
