<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()" color="light">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" color="secondary">Click me</ion-button>
  <ion-button size="small" expand="block" color="secondary">Click me</ion-button>
  <ion-button shape="round" size="large" expand="block" color="danger" fill="outline">Click me</ion-button>

  <ion-input placeholder="Enter your name"></ion-input>

  <ion-checkbox>Testing checkbox</ion-checkbox>

  <br>
  <br>
  <ion-button expand="block" (click)="goToTab2()">Go to tab 2</ion-button>
  <br>
  <ion-button expand="block" color="success" [routerLink]="'/tabs/tab3'">Go to tab 3</ion-button>

</ion-content>
