<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokemon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- <ion-progress-bar type="indeterminate" [hidden]="!isLoading"></ion-progress-bar> -->
  <form>
    <ion-list>
      <!-- <ion-searchbar name="searchBar" (ionInput)="filterItems($event)" [debounce]="300"></ion-searchbar> -->
      <ion-item *ngFor="let pokemon of filteredList" [routerLink]="'./detail/' + pokemon.name" detail>
        <h2>{{ pokemon.name | titlecase }}</h2>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
